<!DOCTYPE html>
<html>
  <head>
    <title>TraveltimeChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script async defer
src="https://maps.googleapis.com/maps/api/js?key="<%= ENV['GOOGLE_API_KEY']%>
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
